<% content_for :title, "This is Home" %>

<%= javascript_pack_tag 'grettings' %>

<h1>메인 페이지에 들어 왔습니다.</h1>
<h2>Hello, world!</h2>
<p style="color:red; font-weight:bold"> 새로운 페이지 생성 작업에 들어왔습니다. </p>
<p>이곳에서 페이지 스타일과 기본적인 적용 방식에 대해 파악합니다.</p>